<h1>Create a new lesson:</h1>



<form action="/lessons" method="post">
  <label class="l-label"><span>Section:</span>
    <select name="lesson[section_id]">
      <option selected disabled>Choose One</option>
      <% Section.all.each do |section| %>
        <option value="<%= section.id %>"><%= section.name %></option>
      <% end %>
    </select>
  </label>
  <label class="l-label"><span>Lesson:</span><input class="i-number" min="1" maxlength="3" size="2" type="number" name="lesson[number]" value="<%= @last_lesson.number + 1 %>"></label>
  <label class="l-label"><span>Name:</span><input type="text" name="lesson[name]"></label>
  <label class="l-label"><span>Description:</span><textarea name="lesson[description]"></textarea></label>
  <label class="l-label"><span>Video URL:</span><textarea name="lesson[video]"></textarea></label>
  <div class="clear"></div>
  <button class="btn btn-danger">Submit</button>
</form>
