<!DOCTYPE html>
<html>
<head>
  <title>LHTP</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
    <div class="clear"></div>
  </div>

  <script>
    $(document).ready(function() {
      $('#section-list li .expander').on('click', function() {
        $(this).next('.section-lessons').slideToggle('fast');
        $(this).text( $(this).text() == '+' ? '-' : '+' )
      })
    })
  </script>
</body>
</html>
